
#marble1 {
  position: relative;
  left: -1%;
  bottom: 10%;
}

#marble2 {
  position: relative;
  right: 37%;
  bottom: 15%;
}

#marble3 {
  position: relative;
  bottom: 15%;
  left: -42%;
}

#marble4 {
  position: relative;
  left: 43%;
  bottom: 24%;
}

#marble5 {
  position: relative;
  top: 40%;
  right: 120%;
  
}

#marble6 {
  position: relative;
  right: 15%;
  bottom: 42%
}

#marble7 {
  position: relative;
  left: 6%;
  bottom: 4%;
}

#marble8 {
  position: relative;
right: 100%;
  bottom: 24%;
}

#marble9 {
  position: relative;
  left: 100%;
  bottom: 17%;
}

#marble10 {
  position: relative;
  left: 100%;
  bottom: 4%;
}

#marble11 {
  position: relative;
  bottom: 76%;
  right: 16%;
}

#marble12 {
  position: relative;
  right: 12%;
  bottom: 40%;
}

#marble13 {
  position: relative;
  top: 11%;
  left: 1%;
}

#marble14 {
  position: relative;
  right: 65%;
  bottom: 26%;
}

#marble15 {
  position: relative;
  right: 45%;
  top: 10%;
}

#marble16 {
position: relative;
bottom: 18%;
right: 10%;
}


#marble17 {
position: relative;
bottom: 75%;
left:-20%;
}

#marble18 {
position: relative;
bottom: 142%;
left: 50%;
}

#marble19 {
position: relative;
bottom: 150%;
right: 26%;
}

#marble20 {
position: relative;
bottom: 186%;
left: 3%;
}

#marble21 {
position: relative;
bottom: 124%;
}

#marble22 {
position: relative;
bottom: 95%;
right: 50%;
}

#marble23 {
position: relative;
bottom: 112%;
left: 45%;
}

#marble24 {
position: relative;
bottom: 137%;
left: 142%;
}

#marble25 {
position: relative;
bottom:106%;
left: 35%;
}

#marble26 {
position: relative;
bottom: 134%;
right: 22%;
}

#marble27 {
position: relative;
bottom: 116%;
left: 101%;
}

#marble28 {
position: relative;
bottom: 124%;
right: -10%;
}

#marble29 {
position: relative;
bottom: 93%;
right: 250%;
}

#marble30 {
position: relative;
bottom: 127%;
right: 155%;
}

#marble31 {
position: relative;
bottom: 130%;
left: -153%;
}

#marble32 {
position: relative;
bottom: 160%;
right: 70%;
}

